environment = {{ APP_ENVIRONMENT }}
local_ip = {{ ansible_host }}
local_user = {{ ansible_user }}
app_version = {{ app_version }}
api_link = {{ API_LINK }}
environment = {{ APP_ENVIRONMENT }}
server_port = {{ SERVER_PORT }}
network = {{ NETWORK }}
service_name = summa_{{ APP_ENVIRONMENT }}

